<nav class="navbar">
  <button id="list-boards">Boards</button>
  <a class="navbar-brand" href="#">Trello Clone</a>
  <ul>
  <% if signed_in? %>
    <li>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <button type="submit">Sign Out</button>
      </form>
    </li>
  <% else %>
    <li><%= link_to "Log in", new_session_url %></li>
    <li><%= link_to "Sign up", new_user_url %></li>
  <% end %>
  </ul>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
